
REDIS_ADDR="redis:6379"
REDIS_POOL=150
PROCESSOR_DEFAULT_URL="http://payment-processor-default:8080"
PROCESSOR_FALLBACK_URL="http://payment-processor-fallback:8080"
HEDGE_MS=40
TIMEOUT_MS=120
WORKER_CONCURRENCY=3